/* Assets (Varlıklar) */

/* CSS içerisinde bir başka CSS dosyasını içe aktarmak için @import kullanılır. */
@import "bootstrap/dist/css/bootstrap.min.css";
@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");

/* 
Root Variables
:root, tüm HTML belgesinin kök (root) seviyesini temsil eder ve <html> etiketiyle aynı seviyededir.
Buraya tanımlanan değişkenler tüm sayfa boyunca kullanılabilir.
*/
:root {
/* 
  --primary-color, bir CSS değişkenidir.
  Değişkenler, var(--değişken-adı) ile çağrılarak kullanılabilir. 
*/
  --primary-color: #063547;
  --secondary-color: #44b89d;
}

/* General Settings */
html,
body {
  font-family: "Mulish", sans-serif;
}

a {
  text-decoration: none;
}

/* Custom Settings */
.full-section-height {
/* 
  Bu class RegisterView.vue ve LoginView.vue içerisinde kullanılıyor.
*/

  /* 
  CSS bir programlama dili olmadığı için fonksiyonları kendi içinde çalıştıramaz!
  Tarayıcı, CSS’i işlerken bu fonksiyonları kendi motorları ile hesaplar.
  JavaScript'te ise bir fonksiyon çalıştırıldığında, hesaplamalar tarayıcının JavaScript motoru tarafından yapılır, CSS’de olduğu gibi tarayıcının render motoru tarafından değil.
  100vh	Görünür ekran yüksekliğinin tamamı (tam ekran yüksekliği) anlamına geliyor.
  */
  min-height: calc(100vh - 146px);
  display: flex;
  /* Child öğeleri dikey eksende ortalar (yani min-height kadar yüksekliğin tam ortasına yerleştirir). */
  align-items: center;
}
