/*
  Assets (Varlıklar)
*/

/* 
Bootstrap CSS dosyasını projeye dahil eder.
Bu, temel grid sistemi, butonlar ve diğer UI bileşenlerini kullanmamıza olanak tanır.
*/
@import "bootstrap/dist/css/bootstrap.min.css";

/* Google Fonts üzerinden Mulish yazı tipini projeye dahil eder. */
@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");

/*
  Root Variables (Kök Değişkenler)
*/

/* 
:root, HTML belgesinin en üst seviyesini temsil eder ve <html> etiketiyle aynı hizadadır.

SPA (Single Page Application) yapılarında tüm uygulama tek bir HTML dosyasına (örneğin index.html) yüklendiği için, :root içinde tanımlanan değişkenler uygulamanın tamamında kullanılabilir.

Değişkenlere var(--degisken-adi) şeklinde erişilir.
*/
:root {
  --primary-color: #063547;
  --secondary-color: #44b89d;
}

/* 
  General Settings
*/

html,
body {
  font-family: "Mulish", sans-serif;
}

a {
  text-decoration: none;
}

/* 
  Custom Settings 
*/

/* Bu class RegisterView.vue ve LoginView.vue içerisinde kullanılıyor. */
.full-section-height {
  /* 
    CSS, bir programlama dili değildir; dolayısıyla JavaScript gibi doğrudan fonksiyon çalıştırmaz. Ancak tarayıcı, bazı hesaplamaları render motoru üzerinden yapabilir.

    Örneğin: 
    - 100vh, görünür ekran yüksekliğinin %100’ünü ifade eder.
    - calc(100vh - 146px), ekran yüksekliğinden 146 piksel çıkararak dinamik bir yükseklik oluşturur.
  */
  min-height: calc(100vh - 146px);
  display: flex;
  /* 
    Child öğeleri dikey eksende ortalar. (Yani min-height kadar yüksekliğin tam ortasına yerleştirir.) 
  */
  align-items: center;
}
